*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(74, 88, 89);
    text-align: center;
    background-image: url("./image/background.jpg.jpg");
    background-size: cover;
}
main{
    height: 92vh;
    width: 100vw;
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: rgba(245, 245, 245,0.01);
     box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.35);
    font-size: 10vmin;
    color: rgb(7,34,51);
    cursor: pointer;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgba(245, 245, 245, 0.09);
    color: black;
    border-radius: 1rem;
    border: none;
}
#reset-btn:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.7);
}
#new-btn{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: rgba(245, 245, 245, 0.09);
    color: black;
    border-radius: 1rem;
    border: none;
    min-width: 160px; 
    transition: all 0.3s ease;
}
#new-btn:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.5);
}
#msg{
    color: black;
    font-size: 8vmin;
}
.msg-container{
    height: 110vmin;
    row-gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.msg-container img {
  width: 290px;
  height: auto;
  border-radius: 10px;
}
.hide{
    display: none;
}
.hide-new-btn{
    display: none;
}
h1{
    font-size: 5vmin;
    margin-top: 4vmin;
}